<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <title></title>
    <% for (var i = 0;i < global.slateUI.length; i++){ %>
    <link type="text/css" rel="stylesheet" href="<%= global.staticDomain %> <%= global.slateUI[i] %>">
    <% } %>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
    <link type="text/css" rel="stylesheet" href="<%= global.staticDomain %>/css/front/base.css">

</head>
<body>
<% include header.ejs %>

<div class="front-wrapper">
    <div class="front-left">
        <div class="ui small vertical menu templates-box">
            <% for(var i = 0;i < templates.length;i++){ %>
            <a data-name="<%= templates[i] %>" class="teal item">
                <div class="ui small teal label">1</div>
                <%= templates[i] %>
            </a>
            <% } %>
        </div>
    </div>
    <div class="editor">
        <div class="ui stacked segment">
            <pre><code></code></pre>
        </div>
    </div>
</div>

<script type="text/javascript" src="<%= global.staticDomain %>/seajs/seajs/2.2.1/sea.js"></script>
<script type="text/javascript" src="<%= global.staticDomain %>/js/front/templates.js"></script>

</body>
</html>